{% extends 'layout.html.twig' %}
{% block title %}
    UnAventon - Viaje
{% endblock %}

{% block style %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="../../bower_components/admin-lte/plugins/timepicker/bootstrap-timepicker.css">
    <style>
        #map {
            min-height: 260px;
            min-width: 430px;
        }
    </style>

{% endblock %} 

{% block subContenido %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Detalle de viaje</h3>
        </div>

        <div class="box-body">
            {{viaje | json_decode()}}
        </div>
        <div class="box-footer">
            footer
        </div>

    </div>
</div>



{% endblock %}

