{% extends 'layoutPerfil.html.twig' %}
{% block title %}
    UnAventon - Perfil
{% endblock %}

{% block style %}
    {{parent()}}
{% endblock %}

{% block contenido %}
    <div class="row">
<p class="h1 text-center">
    Ups!<br> no pudimos encontrar un viaje que se ajuste a tus necesidades. <br>No te rindas segui buscando 
</p>    

<p>
    <a href="http://unaventon.local" class="h1">
       <p class="text-center "> <strong>UnAventon</strong> </p>
    </a>
</p>
</div>
{% endblock %}