{% extends 'layout.html.twig' %}

{% block title %}Un Aventon - {{titulo}}{% endblock %} 

{% block menu %}            
    {% include 'template/menu.html.twig' with {'session': session, 'host': host} %}
{% endblock %}

{% block contentheader %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Index Landing Page
            <small>Ejemplo</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Top Navigation</li>
        </ol>
    </section>
{% endblock %}

{% block contenido %}  
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Blank Box</h3>
        </div>
        <div class="box-body">
            The great content goes here
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}            
