{% extends 'layout.html.twig' %}

{% block title %}
    UnAventon - Perfil
{% endblock %}

{% block style %}
    {{parent()}}
{% endblock %}

 {% block contenido %}
     <h4>
     <b>Que es unAventón? :D</b>
     <br>
     Un aventón es la manera mas facil y sencilla de compartir los gastos de viajes con otros usuarios.<br>
     <b>Como puedo empezar a usar los beneficios de unAventon?</b>
     <br>
     Te invitamos a registrarte, ingresando tus datos.
     <br>
     <b>Como puedo publicar un viaje para que se sumen pasajeros a mi viaje?</b><br>
     Despues de registrarte, las unicas condiciones que solicitamos son los datos del vehiculo, y los de una tarjeta de credito, cargas los datos del viaje que vas a realizar y listo!
     <br>
     <b>Tengo que ser el titular de la tarjeta de credito?</b>
     <br>
     No! podes registrar la tarjeta de credito de un conocido tuyo.
     <br>
     <b>Tiene que estar a mi nombre el auto?</b>
     <br>
     Solo tenes que cumplir con los terminos legales actuales para poder circular con el auto que estas cargando.
     <br>
     <b>Tiene algún costo publicar un viaje?</b>
     <br>
     El costo que vas a tener para poder publicar un viaje es de solo un 5% del costo total del viaje.
     <br>
     <b>Como hago para poder verificar si alguien se postulo al viaje que publique?</b>
     <br>
     Solo tenes que verificar en "tus notificaciones" o accediendo a "Tus viajes".
     <br>
     <b>Como hago para aceptar pasajeros?</b><br>
     Sencillamente en la pestaña que tenes en tu perfil en "mis viajes publicados" en el detalle de tu viaje, vas a poder aceptar o rechazar pasajeros, según tus deseos.
     <br>
     <b> Como hago para pagar los costos de publicación?</b>
     <br>
     Los costos son debitados desde la tarjeta de crédito que son necesarias para poder publicar.
     <br>
     <b>Quiero buscar un viaje para postularme, por donde puedo buscar?</b>
     <br>
     En el inicio de la pagina tenes para buscar viajes que hayan publicado. A partir de ahi vas a tener un resultado de los viajes que podes elegir.
     <br>
     <b>Puedo consultar algunas cosas al chofer que publica ?</b>
     <br>
     Dentro del detalle del viaje vas a poder consultarle al publicante cualquier inquietud que tengas
     <br>
     <b>Como puedo pagar al chofer? </b>
     <br>
     Aparte de pagarle con tarjeta de credito, tenemos un sistema de wallet (billetera electronica), es muy sencillo!
     <br>
     </br>
    
</h4>
  {% endblock %}
