{% extends 'layout.html.twig' %}

{% block style %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="../../bower_components/admin-lte/plugins/iCheck/square/blue.css">
{% endblock %} 

{% block title %}Un Aventon - Registro{% endblock %} 

{#{% block menu %}            
    {% include 'template/menu.html.twig' with {'session': session, 'host': host} %}
{% endblock %}#}

{% block messages %}
    {% for msg in messages %}
        <div class="callout callout-{{msg['type']}}">
            <p>{{msg['message']}}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block contenido %}  

    <div class="register-box">
        <div class="register-logo">
            <a href="/">Un<b>Aventon</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Iniciar Sesi칩n</p>

            <form action="/login/ingresar" method="post">

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>



                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="pass" placeholder="Contrase침a" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">    
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            {#
                        <div class="social-auth-links text-center">
                            <p>- OR -</p>
                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
                                Facebook</a>
                            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
                                Google+</a>
                        </div>
            #}
            <a href="#" class="text-center" id="missPass">No recordas tu contrase침a?</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <div class="modal" id="confirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Recupera tu contrase침a.</h4>
                </div>
                <div class="modal-body">
                    <form action="/usuario/recuperarPass" method="POST">
                        <div class="form-group">
                            <input type="text" name="confirmEmail" id="confirmPassword"  class="form-control" placeholder="Ingresa tu Email por favor"/>
                        </div>   
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-default" id="cancelar">Cancelar</button>
                            <button type="submit" class="btn btn-danger" id="confirmEliminar">Confirmar</button>  
                        </div>
                    </form>            
                </div>

            </div>
        </div>
    </div>
    {% block script %}
        {{ parent() }}
        <!-- iCheck -->
        <script src="../../bower_components/admin-lte/plugins/iCheck/icheck.min.js"></script>

        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' /* optional */
                });
            });
            $().ready(function () {
                $("#missPass").click(function () {
                    $('#confirmModal').show();
                });
            });
        </script>
    {% endblock %}            

{% endblock %}                
