{% extends 'layout.html.twig' %}

{% block style %}
    {{ parent() }}
    <!-- iCheck -->
    <link rel="stylesheet" href="../../bower_components/admin-lte/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
{% endblock %} 

{% block title %}Un Aventon - Registro{% endblock %} 

{% block contenido %}  
    <h1>listadito</h1>         
{% endblock %}                
