<div class="container">
    <div class="row row-pb-md">
        <div class="col-md-6 colorlib-widget">
            <h4>Un Aventon</h4>
            <p>La manera mas facil y efectiva de compartir un viaje.</p>
            </p>
            <a href="/preguntas-frecuentes">Preguntas frecuentes</a>

        </div>
        <div class="col-md-6 col-md-push-1">
            <h4>Informacion de contacto</h4>
            <ul class="colorlib-footer-links">
                <li>Facultad de Informatica, <br> calle 50 Nº 1234</li>
                <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                <li><a href="mailto:info@yoursite.com">info@unaventon.com</a></li>
                <li><a href="http://unaventon.local">unaventon.local</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <small class="block"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados.</small> 
            </p>
        </div>
    </div>
</div>