<nav class="navbar navbar-static-top" style="margin-bottom: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <p  style="color: #fff">
                    <img width="25" height="25" src="../../img/Logo.jpg" class="img-circle" class="img-responsive" alt="logo">
                    Un<b>Aventon</b>
                </p>
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu  pull-right">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                {% if session.get('autenticado') %}
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{% if session.get('usuario').foto %}{{session.get('usuario').foto}}{% else %}/img/anonimo.png{% endif %}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{session.get('usuario').nombre}} {{session.get('usuario').apellido}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="/img/anonimo.png" class="img-circle" alt="User Image">

                                <p>
                                    Armando Esteban Quito
                                    <small>Miembro desde desde Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <a href="#">Viajes Pasajero</a>
                                        <label>15</label>
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <a href="#">Rep. Pasajero</a>
                                        <label>150</label>              
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <a href="#" class>Viajes Chofer</a>
                                        <label>2</label>                        
                                    </div>
                                    <div class="col-xs-3 text-center">
                                        <a href="#">Rep. Chofer</a>
                                        <label>8</label>                
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/perfil" class="btn btn-default btn-flat">Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/cerrarsesion" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="/login" class="dropdown-toggle">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Ingresar</span>
                        </a>
                    </li>

                    <li class="dropdown user user-menu">

                        <!-- Menu Toggle Button -->
                        <a href="/registro" class="dropdown-toggle">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Registrarse</span>
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
</nav>