{% extends 'layoutPerfil.html.twig' %}

{% block title %}
    UnAventon - Perfil
{% endblock %}

{% block style %}
    {{parent()}}
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
{% endblock %}


{% block subContenido %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Viajes</a></li>
            <li><a href="#timeline" id="historial"data-toggle="tab" >Historial</a></li>
            <li ><a href="#misVehiculos" data-toggle="tab">Vehiculos</a></li>
            <li ><a href="#tarjetaCredito" data-toggle="tab">Tarjetas</a></li>
            <li ><a href="#notificaciones" data-toggle="tab">Notificaciones</a></li>
            <li ><a href="#facturas" data-toggle="tab">Facturas</a></li>
            <li ><a href="#calificaciones" data-toggle="tab">Calificaciones</a></li>
            <li ><a href="#wallet" data-toggle="tab">Wallet</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="activity">
                {% include 'usuario/tabs/activity.html.twig' %}
            </div>
            <!-- /.tab-pane viajes publicados -->
            <div class="tab-pane" id="postulados">
                {% include 'usuario/tabs/postulados.html.twig' %}
            </div>
            <!-- End of tab viajes postulados -->
            <div class="tab-pane" id="timeline">

            </div>
            <div class="tab-pane" id="misVehiculos">
                {% include 'usuario/tabs/misVehiculos.html.twig' %}
            </div>
            <div class="tab-pane" id="tarjetaCredito">
                {% include 'usuario/tabs/tarjetaCredito.html.twig' %}
            </div>
            <div class="tab-pane" id="notificaciones">
                {% include 'usuario/tabs/notificaciones.html.twig' %}
            </div>
            <div class="tab-pane" id="facturas">
                {% include 'usuario/tabs/facturas.html.twig' %}
            </div>
            <div class="tab-pane" id="calificaciones">
                {% include 'usuario/tabs/calificaciones.html.twig' %}
            </div>
            <div class="tab-pane" id="wallet">
                {% include 'usuario/tabs/wallet.html.twig' %}
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>

{% endblock %}


{% block script %}
    {{parent()}}
    <script type="text/javascript" src="../../libs/datatables.js"></script>        
    <script type="text/javascript" src="../../libs/datatable-bootstrap.js"></script>        

    <script>
        var bandera = true;
        var banderaP = true;
        $().ready(function () {
            $(function () {
                var hash = window.location.hash;
                hash && $('ul.nav a[href="' + hash + '"]').tab('show');

                $('.nav-tabs a').click(function (e) {
                    $(this).tab('show');
                    var scrollmem = $('body').scrollTop();
                    window.location.hash = this.hash;
                    $('html,body').scrollTop(scrollmem);
                });
            });
            $(".edit").click(function (event) {

                var elem = $(event.target);
                if (elem.is("i")) {
                    elem = $(elem.parent());
                }
                console.log(elem.data("id"))
                $(location).attr('href', '/vehiculo/editar/' + elem.data('idvehiculo'));
            });
            $(".removeCar").click(function (event) {
                ok = confirm("¿Esta seguro que desea eliminar este vehiculo?");
                if (ok) {
                    var elem = $(event.target);
                    if (elem.is("i")) {
                        elem = $(elem.parent());
                    }
                    $(location).attr('href', '/vehiculo/eliminarVehiculo/' + elem.data('idvehiculo'));
                } else {
                    alert("Pedido cancelado");
                }
            });
            $(".restoreCar").click(function (event) {
                ok = confirm("¿Esta seguro que desea habilitar este vehiculo?");
                if (ok) {
                    var elem = $(event.target);
                    if (elem.is("i")) {
                        elem = $(elem.parent());
                    }
                    $(location).attr('href', '/vehiculo/restoreVehiculo/' + elem.data('idvehiculo'));
                } else {
                    alert("Pedido cancelado");
                }
            });

        });
        $("#historial").click(function () {
            if (bandera) {
                bandera = !bandera;
                $.ajax({
                    url: "/historial",
                    success: function (data, textStatus, jqXHR) {
                        console.log("todo bien")
                        $("#timeline").append(data);
                        $('#example').DataTable({
                            "language": {
                                url: "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        });
                    },
                    error: function () {
                        console.log("todo mal");
                    }
                });
            }
        });
        $(".removeTarjeta").click(function (event) {
            ok = confirm("¿Esta seguro que desea eliminar esta tarjeta?");
            if (ok) {
                var elem = $(event.target);
                if (elem.is("i")) {
                    elem = $(elem.parent());
                }
                debugger;
                $(location).attr('href', '/tarjeta/darDeBajaTarjeta/' + elem.data('idtarjeta'));
            } else {
                alert("Pedido cancelado");
            }
        });
        $(".pagarFactura").click(function (event) {
            $('#pagoModal').show();
            var elem = $(event.target);
            if (elem.is("i")) {
                elem = $(elem.parent());
            }
            $("#pagoTarjeta").data("idfactura", elem.data("idfactura"));
            $("#pagoWallet").data("idfactura", elem.data("idfactura"));
        });
        $("#pagoTarjeta").click(function (event) {
            var elem = $(event.target);
            if (elem.is("i")) {
                elem = $(elem.parent());
            }
            $(location).attr('href', 'factura/pagarTarjeta/' + elem.data('idfactura'));
        });
        $("#pagoWallet").click(function (event) {
            var elem = $(event.target);
            if (elem.is("i")) {
                elem = $(elem.parent());
            }
            $(location).attr('href', 'factura/pagarWallet/' + elem.data('idfactura'));
        });
        $(".close").click(function () {
            $('#pagoModal').hide();
        });
///////////////////////////////para extraccion //////////////////
        $("#extraerDinero").click(function () {
            $('#extraccionModal').show();
            $("#montoextraccion").focus();
        });
        $(".close").click(function () {
            $('#extraccionModal').hide();
            $("#montoextraccion").val("");
        });
        $("#cancelar").click(function () {
            $('#extraccionModal').hide();
            $("#montoextraccion").val("");
        });
        $(window).click(function (event) {
            if (event.target == $('#extraccionModal')[0] || event.target == $('#mensajeModal')[0]) {
                $('#extraccionModal').hide();
                $('#mensajeModal').hide();
            }
        });
        function sumbitForm(form) {

        }
        $("#confirmarExtraer").click(function () {
            if ($("#montoextraccion").val() <= 0) {
                alert("El monto debe ser mayor a 0")
            } else {
                $("#formextraccion").attr("action", "/wallet/cobrar/" + $("#montoextraccion").val());
                $("#formextraccion").submit();
            }
        });

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}