<!-- Post -->
<div class="post">
    <div class="user-block">
        <div class ="pull-left">
            <a>Marca: MiMarca</a>
            <br><a> Modelo: MiModelo</a>
            <br><a>Baul: Grande</a>
            <br><a>Asientos: 4</a>
            <br><a>Patente: Mipatente</a>
            <br><a>Fecha de Alta: dd-mm-aaaa</a>
        </div>
        <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
    </div>
    <!-- /.user-block -->
    <p>
        Datos y caracteristicas de un auto en particular que se quiera agregar por parte del usuario
    </p>  
</div>
<!-- /.post -->