<!-- Post -->
<div class="veiculos">
    <h3>Listado de vehiculos</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Patente</th>
                    <th>Asientos</th>
                    <th>Baul</th>
                    <th>Fecha de Alta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>Fiat</td>
                    <td>Uno</td>
                    <td>ABC123</td>
                    <td>4</td>
                    <td>SI</td>
                    <td>10/05/2018</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-xs" data-widget="edit" data-toggle="tooltip" title="" data-original-title="Editar">
                            <i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-xs" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr class="success">
                    <td>Ford</td>
                    <td>Focus</td>
                    <td>AB 123 CD</td>
                    <td>4</td>
                    <td>SI</td>
                    <td>10/05/2018</td>

                    <td>
                        <button type="button" class="btn btn-warning btn-xs" data-widget="edit" data-toggle="tooltip" title="" data-original-title="Editar">
                            <i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-xs" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr class="warning">
                    <td>Chevrolet</td>
                    <td>Corsa</td>
                    <td>DEF456</td>
                    <td>3</td>
                    <td>NO</td>
                    <td>10/05/2018</td>

                    <td>
                         <button type="button" class="btn btn-warning btn-xs" data-widget="edit" data-toggle="tooltip" title="" data-original-title="Editar">
                            <i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-xs" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>