
<div>
    <p class="h1  text-center" >Por el momento no tenes viajes para mostrar. Anímate, pedí <strong>UnAventon!</strong></p>
    <hr>
    <div class="row">
        <div class="col-md-12 search-wrap">
            <form method="post" class="colorlib-form" action="/viaje/buscarViaje">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">Origen:</label>
                            <div class="form-field">
                                <i class="icon icon-map3"></i>
                                <input type="text" id="origen" name="origen" class="form-control" placeholder="Argentina, Buenos Aires, La Plata">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">Destino:</label>
                            <div class="form-field">
                                <i class="icon icon-map3"></i>
                                <input type="text" id="destino" name="destino" class="form-control" placeholder="Argentina, Buenos Aires, La Plata">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">Fecha:</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" id="fecha" name="fecha" class="form-control date" placeholder="DD/MM/AAAA">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label></label>
                            <div class="form-field">                             
                                <input type="submit" name="submit" id="submit" value="Buscar" class="btn btn-primary btn-block">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
<script>
    $().ready(function () {

        $('#fecha').datepicker({
            autoclose: true,
            language: 'es',
            orientation: 'bottom',
            maxViewMode: 0
        });
    });
</script>             