<div>
    
    <p class="h1  text-center" >Por el momento no tenes viajes para mostrar. Anímate, pedí <strong>UnAventon!</strong></p>
    <button class="btn btn-block btn-info btn-lg">Buscar Viaje</button>
</div>