<div class="post">
    <div class="user-block">
        <div class ="pull-left">
            <a>Marca: Visa</a>
            <br><a>Nombre y Apellido Tarjeta</a>
            <br><a>numero: 1234-5678-9012-3456</a>
            <br><a>Vencimiento: mm/aaaa</a>
        </div>
        <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
    </div>
</div>
