<h3>Monto actual de la wallet <b class="montovisual">${{saldoWallet}}</b></h3>
<button class="btn btn-warning btn-block" id="extraerDinero">
    Quiero extraer
</button>

<div class="modal" id="extraccionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Por favor, ingrese el monto que desea extraer.</h4>
            </div>
            <div class="modal-body">
                <form id="formextraccion">
                    <div class="form-group">
                        <input type="number" name="montoextraccion" id="montoextraccion"  class="form-control" autocomplete="off"/>
                    </div>   
                </form>            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelar">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarExtraer">Extrae</button>  
            </div>
        </div>
    </div>
</div>
<div class="modal" id="mensajeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tituloeextraccion"></h4>
            </div>
            <div class="modal-body" id="mensajeextraccion">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loadingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cargando... Por favor espere.</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
            </div>
        </div>
    </div>
</div>